@import url(resert.css);

body{
    font-size: 0.5rem;
}

#informacoes-resumidas{
    width: 100%;
    height: 30px;

    background-color: #5DB371;
    color: #FFFFFF;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.2rem;
}

nav{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-user{
    width: 100%;
    height: 86px;

    background-color: #037E26;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nav-user > input{
    width: 30%;
    height: 50px;
    border-radius: 8px;
    border-style: none;
    outline: none;
}

#nav-user > input::placeholder{
    font-size: 1rem;
}

#nav-user > input[type="search"]{
    padding-left: 20px;
}

#nav-user > a{
    font-size: 1.5rem;
    text-decoration: none;
    
    color: #FFFF;
}

#club-product:hover{
    color: #FF9100;
}

#nav-links{
    width: 100%;
    height: 50px;
    
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-links > ul{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.5rem;
}

